@font-face{

font-family: 'KrinkesRegularPERSONAL';

src: url('../font-family/KrinkesRegularPERSONAL.ttf');
}

body {
	font-family: 'Lato', sans-serif;
}

.header {
	background: #f2f2f2;
	margin: 0 auto;
	max-width: 1440px;
}

.wrapper {
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.icon-phone:before {
    content: "\e942";
    color: black;
    font-size: 11px;
    margin: 0 15px 0 75px;
} 

.header a {
	text-decoration: none;
	font-size: 11px;
	color: black;
}

.menu0 ul li{
	display: inline-block;
    font-size: 11px;
}

.menu0 ul a {
	text-decoration: none;
    font-size: 11px;
    color: black;
	border-right: 1px solid black;
    padding-right: 20px;
    padding-left: 20px;
}

#a-login {
	margin-right: 57px;
	border-right: none;
}

.header2 {
	margin: 0 auto;
	max-width: 1440px;
	height: 125px;
	font-family: 'Playfair Display', serif;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
}

.menu1 ul {
	display: inline-flex;
    margin-left: 75px;
}

.menu1 ul li{
	margin-right: 20px;
}

.menu1 ul a {
	text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu1 ul a:hover {
	color: orange;
}

.logo {
	font-size: 80px;
	font-family: 'KrinkesRegularPERSONAL';
	text-decoration: none;
	color: black;
	position: absolute;
    top: 40px;
    left: 45%;
    transition: 1s;
}

/*ICON - start*/

.icon_yellow {
	display: flex;
	margin-left: 490px;
}

.icon_yellow div {
	margin: 0 12px 0 0;
	background: white;
	border: 1px solid #d9bf8f;
	border-radius: 50%;
	width: 33px;
	height: 33px;
}

#icon:hover {
	transform: scale(1.3);
}

#icon {
	text-decoration: none;
	display: block;
    padding: 9px 0px 0px 9px;
    transition: 0.5s;
}

#icon:before {
	font-size: 16px;
	color: #d9bf8f;
}

/*ICON - finish*/

/* Всплывающее меню - начало*/

.menu2 {
    margin-right: 75px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    background: #000;
}

.submenu-0 {
	padding: 10px 21px 10px 37px;
}

.submenu {
    position: absolute;
    top: 78px;
    right: 75px;
    padding: 10px 5px 0px 63px;
    background: #242424;
	visibility: hidden;
	opacity: 0; 
	transform-origin: 0% 0%;
	transform: rotateX(-90deg);
	transition: .3s linear;  
}

.menu2 ul li:hover > .submenu {
	transform: rotateX(0deg);
	visibility: visible;
	opacity: 1;
}

.li2 a {
	text-decoration: none;
    color: white;
}

.li2 a:hover {
	text-shadow: 0px 0px 8px rgb( 255, 255, 255 );
}

.li2:after { content: url(../img/arrow1.png);}


.submenu li{
	margin-bottom: 10px
}

.submenu a:hover {
	text-shadow: 0px 0px 8px rgb( 255, 255, 255 );
}

/* Всплывающее меню - конец */

.header3 {
	background: url(../img/BG1.png);
	background-repeat: no-repeat;
	max-width: 1440px;
	margin: 0 auto;
	height: 695px;
	position: relative;
	z-index: 1;
}

.mid-sale {
	width: 258px;
    height: 257px;
    border: 1px solid white;
    position: absolute;
    top: 150px;
    left: 604px;
    display: block;
}

.mid-sale:before {
    width: 269px;
    height: 273px;
    border: 2px solid white;
    position: absolute;
    top: -4%;
    left: -3%;
    content: "";
}

.mid-sale ul li {
	padding-top: 17px;
}

.li-mid-1 {
	font-size: 24px;
	color: white;
}

.li-mid-2 {
	font-size: 70px;
    font-weight: bold;
}

.li-mid-3 {
	font-size: 36px;
}

.li-mid-3 span {
	padding-left: 15px;
}

.line1 {
    border-top: 1px solid white;
    width: 60px;
    position: absolute;
    top: 317px;
    left: 622px;
}

.line2 {
	border-top: 1px solid white;
    width: 60px;
    position: absolute;
    top: 317px;
    left: 786px;
}

.line3 {
    border-top: 1px solid white;
    width: 30px;
    position: absolute;
    top: 307px;
    left: 652px
}

.line4 {
	border-top: 1px solid white;
    width: 30px;
    position: absolute;
    top: 307px;
    left: 786px;
}

.shop {
   /* width: 192px;*/
    position: absolute;
    top: 475px;
    left: 640px;
    padding: 10px 0 10px 0;
    font-size: 24px;
}

.shop a {
	background: #f09d66;
	text-decoration: none;
	color: white;
	position: relative;
	padding: 10px 30px;
}

.rhombus1 {
	background: url(../img/rhombus1.png);
	position: absolute;
    top: 165px;
    right: 117px;
	z-index: 1;
	width: 20px;
    height: 20px;
}

.rhombus2 {
	background: url(../img/rhombus1.png);
	position: absolute;
	top: 165px;
	right: 88px;
	z-index: 1;
	width: 20px;
    height: 20px;	
}

.rhombus3 {
	background: url(../img/rhombus1.png);
	position: absolute;
	top: 165px;
	right: 59px;
	z-index: 1;
	width: 20px;
    height: 20px;
}

.rhombus:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: 1s;
}
    
.rhombus:hover:after {
	background:url(../img/rhombus2.png);
}


.left {
	position: absolute;
	top: 50%;
	left: 1%;
	z-index: 3;	 
}

.right {
	position: absolute;
	top: 50%;
    right: 1%;
    z-index: 3;
}

.header4 {
	background: white;
	margin: 0 auto;
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
}

.slider_left {
	background: url(../img/arrow-left.png);
	width: 430px;
	height: 100px;
	color: white;
	margin-top: 65px;
	position: relative;
}

.icon-airplane:before {
	content: "\e9af";
	font-size: 48px;
}

.slider_left div {
	position: absolute;
    top: 25px;
    left: 25px;
}

.slider_middle {
	background: url(../img/arrow-middle.png);
	width: 455px;
	height: 100px;
	color: white;
	margin-top: 65px;
	position: relative;
}

.icon-clock:before {
	content: "\e94e";
	font-size: 48px;
}

.slider_middle div {
	position: absolute;
    top: 25px;
    left: 65px;
}

.slider_right {
	background: url(../img/arrow-right.png);
	width: 430px;
	height: 100px;
	color: white;
	margin-top: 65px;
	position: relative;
}

.icon-lifebuoy:before {
	content: "\e941";
	font-size: 48px;
}

.slider_right div {
	position: absolute;
    top: 25px;
    left: 65px;
}

.slider_left h1 {
	font-size: 30px;
    margin: 20px 0 0 112px;
}

.slider_middle h1 {
	font-size: 30px;
    margin: 20px 0 0 134px;	
}

.slider_right h1 {
	font-size: 30px;
	margin: 20px 0 0 142px;
}

.slider_left p {
	font-size: 14px;
    margin: 15px 0 0 112px;
}

.slider_middle p {
	font-size: 14px;
    margin: 15px 0 0 134px;	
}

.slider_right p {
	font-size: 14px;
	margin: 15px 0 0 142px;
}

.header5 {
	background: white;
	margin: 0 auto;
	max-width: 1440px;
	display: flex;
	justify-content: space-between;
	position: relative;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
}

.header5 > div h1 {
	margin: 95px 0 63px 0;
	transition: 0.5s;
}

.header5 div h1:hover {
	transform: scale(1.2);
	color: orange;
}
.line6 {
	border-top: 1px solid #eaeaea;
	width: 430px;
	margin-top: 110px;
}

.line7 {
	border-top: 1px solid #eaeaea;
	width: 430px;
	margin-top: 110px;
}

.rhombus4 {
	position: absolute;
	top: 100px;
    left: 480px;
}

.rhombus5 {
	position: absolute;
	top: 100px;
    right: 480px;
}

.header6 {
	background: white;
	margin: 0 auto;
	max-width: 1440px;
}

.catalog{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid #eaeaea;
	margin-bottom: 100px;
}

.catalog div {
	display: flex;
	flex-direction: column;
}

/*.catalog::after {
	content: '';
	width: 100%;
	order: 0;
}

.catalog div:nth-child(n + 5) {
	order: 1;
}*/


.foto1 {
	background: url(../img/foto1.png);
	width: 300px;
	height: 347px;
	margin: 20px;
}

.foto2 {
	background: url(../img/foto2.png);
	width: 300px;
	height: 347px;
	margin-top: 20px;
}

.foto3 {
	background: url(../img/foto3.png);
	width: 300px;
	height: 347px;
	margin: 20px;
}

.foto4 {
	background: url(../img/foto4.png);
	width: 300px;
	height: 347px;
	margin-top: 20px;
	margin-right: 20px;
}

.foto5 {
	background: url(../img/foto5.png);
	width: 300px;
	height: 348px;
	margin: 0 0 20px 20px;
}

.foto6 {
	background: url(../img/foto6.png);
	width: 300px;
	height: 348px;
	margin-left: 20px;
}

.foto7 {
	background: url(../img/foto7.png);
	width: 300px;
	height: 348px;
	margin-left: 20px;
}

.foto8 {
	background: url(../img/foto8.png);
	width: 300px;
	height: 348px;
	margin-left: 20px;
	margin-right: 20px;
}

.foto-effect a {
	background: url(../img/trapezium1.png);
    background-repeat: no-repeat;
    width: 200px;
    height: 45px;
    text-decoration: none;
    position: absolute;
    top: 304px;
    left: 53px;
    color: white;
    font-size: 14px;
    transition: 0.5s;
}

.foto-effect a p {
	margin: 15px 0 0 45px;
}	

.foto-effect a:hover {
	background: url(../img/trapezium2.png);
	background-repeat: no-repeat;
	width: 200px;
    height: 45px;
}

.foto-effect {
	position: relative;
    border: 1px solid #eaeaea;
    z-index: 1;
    cursor: pointer;
}

.foto-effect:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: 1s;
}
    
.foto-effect:hover:after {
	background-color: rgba(0, 0, 0, 0.5);
}

.foto-effect img {
	transition: 0.5s;
}

.foto-effect img:hover {
	transform: scale(1.5);
}

.foto-effect img:active {
	margin: 50px;
}

.foto-effect div {
    position: absolute;
    top: 45%;
    left: 42%;
    width: 50px;
    height: 50px;
    z-index: 1;
}

#sale {
	width: 60px; 
	height:60px;
	border-radius: 50%;
	background: orange;
	position: absolute;
	top: 18px;
	left: 16px;
	align-items: center;
}

#sale h1 {
	color: white;
	font-size: 22px;
    margin-top: 20px;
}

.header7 {
	background: #141414;
	margin: 0 auto;
}

.footer {
	display: flex;
	padding-bottom: 115px;
	margin: 0 auto;
    width: 1440px;
}

.list ul li a {
	text-decoration: none;
	color: #737373;
}

.list ul li {
	color: #737373;
	font-size: 14px;
	margin-bottom: 17px;
	margin-left: 105px;
}

.list ul li:first-child {
	color: white;
	font-size: 16px;
	margin: 70px 0 45px 105px;
}

.list ul li:last-child {
	margin-bottom: 0px;
}

.list ul li a:hover {
	color: orange;
}


.connect {
    margin-left: 105px;
    display: flex;
}

.connects h1 {
	color: white;	
	font-size: 16px;
	display: block;
    margin: 70px 0 0 105px;
}

.icon-facebook:before {
	content: "\ea90";
	font-size: 24px;
	color: black;
}

.icon-twitter:before {
	content: "\ea96";
	font-size: 24px;
	color: black;
}

.icon-instagram:before {
	content: "\ea92";
	font-size: 24px;
	color: black;
}

.icon-pinterest:before {
	content: "\ead1";
	font-size: 24px;
	color: black;
}

.icon-rss:before {
	content: "\ea9b";
	font-size: 24px;
	color: black;
}
.connect div {
	width: 50px;
	height: 50px;
	background: white;
    border-radius: 50%;
    margin-top: 50px;
    margin-right: 15px; 
}

.connect div a {
	text-decoration: none;
	display: block;
    padding: 11px 0px 0px 13px;
}


#icon_black {
	transition: 0.5s;
}

#icon_black:hover {
	transform: scale(1.3);
}

.inp span {
	font-family: 'Playfair Display', serif;
	margin: 0 3px 0 3px;
}

.inp h1 {
	margin-top: 45px;
}


.input {
	border: 1px solid #484848;
	width: 360px;
	height: 40px;
	margin: 50px 0 0 105px;
}

form {
	display: flex;
	justify-content: space-between;
}

input::-webkit-input-placeholder {
    color: #484848; 
}

input {
	border: none;
    background: transparent;
    height: 30px;
    outline:none;
    margin: 5px 0 0 22px;
    color: white;
}

button {
	width: 100px;
	height: 30px;
	color: #fff;
	background-color: #323030;
    border: none;
    outline:none;
    margin: 5px;
    font-size: 12px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
	margin-right: 11px;
	transform: scale(1.2)
}

.bank_conntact {
	max-width: 1440px;
	margin: 0 auto;
	font-size: 11px;
	color: #323232;
	line-height: 1.5;
	position: relative;
	padding-bottom: 115px;
}

.bank_conntact ul {
    margin-left: 105px;
}

.button_go_top {
	position: absolute;
    top: 20px;
    right: 40px;
    transition: 0.5s;
}

.button_go_top:hover {
	transform: scale(1.3);
}

.card img {
	margin-right: 25px;
}

.card {
	margin-left: 105px;
	margin-top: 20px;
}


